@use '../../utils/functions/' as *;
@use '../../utils/mixins/' as *;

.hero {
  min-height: 982px;
  &-small{
    min-height: 647px;
  }

  &__inner {
    position: absolute;
    top: 167px;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 815px;
    background-repeat: no-repeat;
    background-size: cover;
    &::before {
      content: '';
      position: absolute;
      width: 47%;
      height: 100%;
      background-color: #37393FE8;
      top: 0;
      left: 0;
      z-index: 2;
    }
  }
  &-small__inner {
    min-height: 480px;
  }
  &__content {
    position: relative;
    z-index: 5;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    h1 {
      font-size: 60px;
      margin-bottom: 20px;
      max-width: 529px;
    }

    p {
      position: relative;
      &:first-of-type {
        padding-left: 18px;
        margin-bottom: 10px;
        font-weight: 600;
        color: #fff;

      }
      &:last-of-type {
        margin-bottom: 35px;
        color: #B9B9B9;
        font-weight: 500;
      }
    }

    .btn {
      max-width: 173px;
      justify-content: center;
      padding: 16px 32px;
      white-space: nowrap;
      background-color: var(--color-green-350);
      color: var(--color-brown-800);
      margin: 0;
      border: none;
      &::after {
        display: none;
      }
      &:hover,
      &:focus {
        background-color: var(--color-blue-300);
        color: #fff;
      }
    }
  }

  @include media(desktop-wide) {
    &__content--home {
      &::after {
        left: -26px;
      }
  }
  }
  @include media(desktop) {
    &__content--home {
      &::after {
        left: 0;
      }
  }
  }
  @include media(tablet-wide) {
    &__content--home {
      &::after {
        width: 951px;
        height: 327px;
      }
      &::before {
        display: none;
      }
  }
  }
  @include media(tablet) {
    &__content--home {
      &::after {
        display: none;
      }

  }
  }

  @include media(mobile-l) {
    min-height: 600px;

    &__content {
      padding: 20px;
      h1 {
        text-align: center;
        font-size: 34px;
      }
      p {
        margin: 0 auto 32px;
      }

      .btn {
        max-width: none;
        width: 100%;
      }
    }

    &__inner {
      min-height: 600px;
    }
  }
  @include media(mobile-s) {
    &__content {
      margin-top: -50px;
    }
  }

}



